$main-color: #F2F3F5;
$main-font-color: #281C1F;
$second-font-color: #7C7C7C;
$button-color: #3F3133;
$active-color: #92DCE5;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $main-color;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.loader {
	border: 6px solid #adadad;
	border-radius: 50%;
	border-top: 6px solid $active-color;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: 15vh auto 0;
}

.error{
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 600;
	color: #ca1d1d;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.menu{
	width: 100%;
	padding: 30px 12px 0;
	height: 100vh;
	overflow: auto;
	clip-path: inset(0 12px 0 0);
	&__wrapper{
		margin-bottom: 30px;
	}
	&-item{
		position: relative;
		display: flex;
		align-items: center;
		height: 78px;
		width: 100%;
		background-color: #fff;
		border-radius: 12px;
		padding: 12px 45px 12px 12px;
		margin: 0 auto 12px auto;
		opacity: 1;
		transition: opacity 0.2s ease-out;
		-webkit-transition: opacity 0.2s ease-out;
		&__img{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 54px;
			height: 54px;
			background-color: $main-color;
			border-radius: 100%;
			margin-right: 11px;
			flex-shrink: 0;
			flex-grow: 0;
			img{
				width: 60%;
			}
			&_full{
				overflow: hidden;
				img{
					width: 100%;
				}
			}
		}
		&__content{
			min-height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			transition: all 300ms;
			-webkit-transition: all 300ms;
		}
		&__category{
			font-weight: 400;
			font-size: 13px;
			line-height: 16px;
			color: $second-font-color;
			text-transform: capitalize;
		}
		&__title{
			display: flex;
			font-weight: 590;
			font-size: 16px;
			line-height: 120%;
			color: $main-font-color;
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: 40px;
			-webkit-line-clamp: 2;
  			-webkit-box-orient: vertical;
			span{
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 510;
				font-size: 14px;
				line-height: 130%;
				color: $second-font-color;
				margin-left: 10px;
				img{
					margin-right: 5px;
				}
			}
		}
		.button{
			position: absolute;
			right: 12px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:nth-child(3){
			.menu-item__img{
				img{
					width: 50%;
				}
			}
		}
	}
}

.menu-item_services{
	padding: 12px 0 0 0;
	display: block;
	height: auto;
	.menu-item__top{
		display: flex;
		align-items: center;
		padding: 0 12px 12px;
	}
	.menu-item__wrapper{
		display: block;
		width: 100%;
		background-color: #fff;
		border-radius: 0 0 12px 12px;
		transition: all 500ms ease-in;
		-webkit-transition: all 500ms ease-in;
	}
	.menu-service{
		position: relative;
		padding: 12px 45px 12px 12px;
		border-top: 1px solid #E7E8EA;
		width: 100%;
		overflow: hidden;
		transition: all 300ms ease-in;
		-webkit-transition: all 300ms ease-in;
		&__title{
			display: flex;
			font-weight: 690;
			font-size: 14px;
			line-height: 24px;
			color: #292929;
			span{
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 510;
				font-size: 14px; 
				line-height: 130%;
				color: $second-font-color;
				margin-left: 25px;
				img{
					margin-right: 5px;
				}
			}
		}
		&__subtitle{
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			letter-spacing: 0.1px;
			color: $second-font-color;
		}
		.button{
			position: absolute;
			right: 12px;
			margin: 0;
		}
	}
}

.menu-service-transition-enter {
	opacity: 0;
}
.menu-service-transition-enter-active {
	opacity: 1;
	transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
}
.menu-service-transition-exit {
	opacity: 1;
}
.menu-service-transition-exit-active {
	opacity: 0;
	padding: 0 12px;
	transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
}

.input__wrapper{
    position: relative;
	margin-bottom: 26px;
}

.input{
    height: 56px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #E3E2E6;
    border-radius: 8px;
    padding-left: 12px;
	padding-top: 15px;
	font-weight: 510;
	font-size: 16px;
	line-height: 130%;
	color: $main-font-color;
}

.placeholder{
	position: absolute;
	left: 12px;
	top: 30%;
	font-weight: 510;
    font-size: 16px;
    line-height: 130%;
    color: #BDBEC1;
	transition: transform 0.3s;
	-webkit-transition: -webkit-transform transform 0.3s;
}

.input:focus ~ .placeholder,  /* фокус на input */
.input:not(:placeholder-shown) ~ .placeholder  /* в input есть значение */  {
	transform: translateY(-11px) translateX(-12%) scale(0.75);
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox+label {
	display: inline-flex;
	align-items: flex-start;
	user-select: none;
	width: 100%;
    height: 100%;
	flex-grow: 0;
	flex-shrink: 0;
}

.custom-checkbox+label::before {
	content: '';
	color: #fff;
	width: 15px;
	height: 15px;
	border: 2px solid #3F3133;;
	border-radius: 0.2em;
	margin-right: 12px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 90% 90%;
	transition: all 150ms;
	-webkit-transition: all 150ms;
	flex-grow: 0;
	flex-shrink: 0;
}

.custom-checkbox:checked+label::before {
	color: #fff;
    background-color: $button-color;
	background-image: url(../public/images/tick.svg);
}

.agreement{
	font-weight: 510;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0.1px;
	color: #7C7C7C;
	span {
		color: $main-font-color;
	}
}

.subtitle{
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 130%;
	color: $main-font-color;
}

.navbar{
	position: fixed;
	left: 0;
	top: 0;
	height: 44px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: $main-color;
	z-index: 3;
	&__wrapper{
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow: auto;
		appearance: none;
		-webkit-appearance: none;
		padding-bottom: 0;
		-ms-overflow-style: none;
		scrollbar-width: none;
		clip-path: inset(0 0 6px 0);
	}
	&__wrapper::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 0;
		height: 0;
		scroll-behavior: smooth;
	}  
	&__href{
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 7px 8px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.1px;
		color: #292929;
		background: #fff;
		border-radius: 100px;
		text-decoration: none;
		margin-right: 8px;
		transition: all 0.2s ease-in;
		-webkit-transition: all 0.2s ease-in;
		white-space: nowrap;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;
		scroll-behavior: smooth;
	}
}

.active{
	background: $active-color;
}

.hamburger{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20px;
	height: 40px;
	margin: 0 10px 0 16px;
	flex-shrink: 0;
}

.hamburger__block{
	display: block;
	height: 0px;
	width: 100%;
	border: 1px solid #424950;
	border-radius: 1px;
	margin: 1px 0;
	background-color: #424950;
	flex-shrink: 0;
	flex-grow: 0;
}

.button-with-price{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	.price{
		font-weight: 700;
		font-size: 18px;
		line-height: 130%;
		color: $button-color;
	}
}

.button{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 28px;
	width: 28px;
	border: 2px solid $button-color;
	border-radius: 8px;
	margin-right: 6px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	flex-grow: 0;
	flex-shrink: 0;
	span{
		position: absolute;
		display: block;
		height: 2px;
		width: 17px;
		border-radius: 20px;
		flex-shrink: 0;
		flex-grow: 0;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		&:nth-child(2){
			transform: rotate(90deg);
		}
	}
	&_plus{
		background-color: $button-color;
		span{
			background-color: #fff;
		}
	}
	&_minus{
		background-color: #fff;
		span{
			background-color: $button-color;
			&:nth-child(2){
				transform: rotate(0);
			}
		}
	}
}

.service{
	position: relative;
	&__list{
		height: 100vh;
		overflow: auto;
		padding: 61px 12px 20px;
		clip-path: inset(0 12px 0 0);
		scroll-behavior: smooth;
	}
	.subtitle{
		margin-bottom: 12px;
	}
	&-card{
		position: relative;
		width: 100%;
		height: auto;
		background: #FFFFFF;
		border-radius: 12px;
		margin-bottom: 8px;
		transition: 0.4s all;
		-webkit-transition: 0.4s all;
		&::before{
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			border-bottom: 0px solid $active-color;
			border-radius: 12px;
			transition: border-bottom 0.2s linear;
			-webkit-transition: border-bottom 0.2s linear;
			pointer-events: none;
		}
		&__img{
			width: 100%;
			img{
				width: 100%;
				border-radius: 12px 12px 0 0;
			}
		}
		&__content{
			padding: 12px;
		}
		&__title{
			font-weight: 510;
			font-size: 18px;
			line-height: 125%;
			letter-spacing: -0.2px;
			color: $main-font-color;
			margin-bottom: 5px;
		}
		&__descr{
			font-weight: 400;
			font-size: 14px;
			line-height: 125%;
			color: $second-font-color;
			max-height: 53px;
			width: 100%;
			-webkit-line-clamp: 2;
  			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: clip;
		}
		&__bottom{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 16px;
			min-height: 28px;
		}
		&__info{
			height: 20px;
			width: 20px;
			z-index: 2;
			img{
				width: 100%;
			}
		}
		&_active{
			&::before{
				border-bottom: 6px solid $active-color;
			}
		}
		&_blured{
			opacity: .4;
			.show-more{
				color: #D6D7DB;
			}
		}
	}
}

.service-page{
	.loader{
		position: absolute;
		top: 63px;
		right: 12px;
		z-index: 2;
		width: 25px;
		height: 25px;
		border-width: 4px;
		margin-top: 0;
	}
	.error{
		position: absolute;
		top: 63px;
		right: 12px;
		font-size: 24px;
		z-index: 2;
	}
}

.show-more{
	position: absolute;
	box-sizing: content-box;
	width: 30px;
	height: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	right: 12px;
	bottom: 3.9em;
	background-color: #fff;
	padding-left: 4px;
	padding-right: 2px;
	font-weight: 510;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: $active-color;
	text-decoration: none;
	box-shadow: -1em 0 5px white;
}

.opacity-block{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .35);
	z-index: 4;
	transition: opacity 0.4s;
	-webkit-transition: opacity 0.4s;
}

.modal{
	position: fixed;
	bottom: 0;
	left: 0;
	max-height: calc(100vh - 8px);
	width: 100%;
	background: #FFFFFF;
	border-radius: 20px 20px 0px 0px;
	z-index: 5;
	transition: all 0.4s;
	-webkit-transition:  all 0.4s;
	overflow: auto;
	&::before{
		content: '';
		display: block;
		width: 36px;
		height: 5px;
		position: sticky;
		top: 8px;
		left: 50%;
		transform: translateX(-50%);
		background: #6D7885;
		opacity: 0.7;
		border-radius: 3px;
		z-index: 6;
	}
	/* modal navbar */
	&-navbar{
		&__title{
			font-weight: 700;
			font-size: 20px;
			line-height: 125%;
			text-align: center;
			letter-spacing: 0.005em;
			color: #292929;
			margin: 20px 0 30px;
		}
		&__wrapper{
			padding: 0 12px 30px;
			li{
				display: block;
				font-weight: 400;
				font-size: 14px;
				line-height: 125%;
				color: $main-font-color;
				padding: 14px 8px;
				border-bottom: 1px solid #E7E8EA;
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	/* modal details */
	.details {
		position: relative;
		top: -5px;
		&__img{
			width: 100%;
			border-radius: 16px;
			img{
				width: 100%;
				border-radius: 16px;
			}
		}
		&__video{
			width: 100%;
			height: auto;
			opacity: 1;
			transition: opacity 0.3s;
			video{
				width: 100%;
				border-radius: 16px;
				opacity: 1;
				transition: opacity 0.3s;
			}
		}
		&__content{
			padding: 12px;
		}
		&__title{
			font-weight: 510;
			font-size: 18px;
			line-height: 125%;
			letter-spacing: -0.2px;
			color: $main-font-color;
			margin-bottom: 5px;
		}
		&__descr{
			font-weight: 400;
			font-size: 14px;
			line-height: 125%;
			color: $second-font-color;
			margin-bottom: 16px;
		}
		&__bottom{
			display: flex;
			justify-content: space-between;
		}
		&__price{
			font-weight: 700;
			font-size: 18px;
			line-height: 130%;
			color: $button-color;
		}
		&__time{
			display: flex;
			align-items: center;
			font-weight: 510;
			font-size: 14px;
			line-height: 130%;
			color: $second-font-color;
			img{
				margin-right: 5px;
			}
		}
	}
	/* employee details */
	.employee-details{
		height: calc(100vh - 15px);
		display: flex;
		flex-direction: column;
		padding-top: 33px;
		&__top{
			padding: 0 12px;
			flex-shrink: 0;
		}
		&__wrapper{
			display: flex;
			margin-bottom: 16px;
			align-items: center;
		}
		&__img{
			width: 119px;
			height: 119px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			overflow: hidden;
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: 15px;
			img{
				width: 100%;
			}
			&_icon{
				background-color: $main-color;
				img{
					width: 60%;
				}
			}
		}
		&__video{
			width: 119px;
			height: 119px;
			margin-right: 15px;
			video{
				border-radius: 50%;
				width: 100%;
			}
		}
		&__specialization{
			font-weight: 400;
			font-size: 12px;
			line-height: 130%;
			color: $second-font-color;
		}
		&__name{
			font-weight: 700;
			font-size: 18px;
			line-height: 130%;
			color: #292929;
			margin-bottom: 5px;
		}
		&__rating{
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 8px;
			img{
				width: 90px;
				margin-right: 5px;
			}
		}
		&__stars{
			position: relative;
		}
		&__bluring-stars{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 5px;
			width: 68px;
			backdrop-filter: grayscale(1);
		}
		&__number-of-comments{
			font-weight: 400;
			font-size: 12px;
			line-height: 130%;
			color: #ABAAB1;
		}
		&__descr{
			font-weight: 400;
			font-size: 14px;
			line-height: 125%;
			color: $main-font-color;
			margin-bottom: 18px;
		}
		.loader{
			margin: 0;
			height: 30px;
			width: 30px;
			border-width: 4px;
		}
		.no-comments{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 17px;
			margin-top: 15vh;
			&__img{
				width: 61px;
				img{
					width: 100%;
				}
			}
			&__title{
				font-weight: 590;
				font-size: 16px;
				line-height: 120%;
				text-align: center;
				color: $second-font-color;
			}
		}
	}
	
	.comments{
		background-color: $main-color;
		flex-grow: 1;
		padding: 18px 12px 20px;
		&__title{
			font-weight: 590;
			font-size: 16px;
			line-height: 120%;
			margin-bottom: 16px;
			color: #1C1B1F;
		}
	}
	
	.comment{
		position: relative;
		width: 100%;
		height: auto;
		background: #FFFFFF;
		border-radius: 20px;
		margin-bottom: 16px;
		padding: 12px;
		transition: all 0.6s;
		-webkit-transition: all 0.6s;
		&__img{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 54px;
			height: 54px;
			border-radius: 100%;
			overflow: hidden;
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: 6px;
			img{
				width: 100%;
			}
			&_icon{
				background-color: $main-color;
				img{
					width: 60%;
				}
			}
		}
		&__content{
			display: flex;
			align-items: center;
		}
		&__name{
			font-weight: 700;
			font-size: 14px;
			line-height: 24px;
			color: #292929;
		}
		&__rating{
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 8px;
			img{
				width: 90px;
				margin-right: 5px;
			}
		}
		&__stars{
			position: relative;
		}
		&__bluring-stars{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 5px;
			width: 72px;
			backdrop-filter: grayscale(1);
		}
		&__number-of-comments{
			font-weight: 400;
			font-size: 12px;
			line-height: 130%;
			color: #ABAAB1;
		}
		&__text{
			font-weight: 400;
			font-size: 14px;
			line-height: 125%;
			color: $second-font-color;
			transition: all 0.6s;
			-webkit-transition: all 0.6s;
			margin-top: 8px;
			max-height: 53px;
			width: 100%;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: clip;
		}
		.show-more{
			bottom: 0.7rem;
			font-weight: 400;
			font-size: 14px;
			line-height: 125%;
		}
	}
}

.employees-page{
	position: relative;
}
.employees__wrapper{
	height: 100vh;
	overflow: auto;
	clip-path: inset(0 12px 0 0);
	padding: 30px 12px 20px;
	.modal{
		height: calc(100vh - 10px);
	}
}

.employee-card{
	position: relative;
	padding: 12px;
	background: #FFFFFF;
	border-radius: 12px;
	height: auto;
	width: 100%;
	margin-bottom: 12px;
	transition: border-bottom 0.2s;
	-webkit-transition: border-bottom 0.2s;
	&::before{
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		border-bottom: 0px solid $active-color;
		border-radius: 12px;
		transition: border-bottom 0.2s linear;
		-webkit-transition: border-bottom 0.2s linear;
		pointer-events: none;
	}
	&__content{
		display: flex;
		width: calc(100% - 34px);
	}
	&__img{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 54px;
		height: 54px;
		border-radius: 100%;
		overflow: hidden;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 6px;
		img{
			width: 100%;
		}
		&_icon{
			background-color: $main-color;
			img{
				width: 60%;
			}
		}
	}
	&__specialization{
		font-weight: 400;
		font-size: 13px;
		line-height: 24px;
		color: $second-font-color;
	}
	&__name{
		font-weight: 600;
		font-size: 16px;
		line-height: 17px;
		color: #292929;
		margin-bottom: 8px;
	}
	&__rating{
		position: relative;
		display: flex;
		align-items: center;
		img{
			margin-right: 5px;
		}
	}
	&__stars{
		position: relative;
	}
	&__bluring-stars{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 5px;
		width: 68px;
		backdrop-filter: grayscale(1);
	}
	&__number-of-comments{
		font-weight: 400;
		font-size: 12px;
		line-height: 130%;
		color: #ABAAB1;
	}
	.info{
		position: absolute;
		top: 12px;
		right: 12px;
		flex-grow: 0;
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		z-index: 2;
		img{
			width: 100%;
		}
	}
	&_blured{
		opacity: .4;
	}
	.loader{
		margin: 0;
		height: 30px;
		width: 30px;
		border-width: 4px;
	}
	&_anyone{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.employee-card__img{
			margin-right: 11px;
		}
		.employee-card__name{
			margin-bottom: 0;
		}
	}
	&_active{
		&::before{
			border-bottom: 6px solid $active-color;
		}
	}
}

.schedule-date{
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	color: $second-font-color;
	margin-top: 10px;
}

.schedule{
	display: flex;
	align-items: center;
	margin-top: 8px;
	&__item{
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc((100% / 3) - 16px);
		padding: 9px 8px;
		border: 2px solid #D6D7DB;
		border-radius: 50px;
		margin-right: 16px;
		font-weight: 400;
		font-size: 14px;
		line-height: 105%;
		color: #292929;
		&_active{
			border-color: $active-color;
			background-color: $active-color;
		}
	}
}

.dates-seances{
	padding-top: 151px;
	height: 100vh;
	overflow: hidden;
	&__dates{
		position: fixed;
		top: 0;
		width: 100%;
		padding: 30px 0 9px;
		background-color: #fff;
		z-index: 2;
	}
	&__seances{
		background-color: $main-color;
		padding: 12px 12px 20px;
		height: 100%;
		overflow: auto;
		clip-path: inset(0 12px 0 0);
		.loader{
			margin: 0;
			height: 30px;
			width: 30px;
			border-width: 4px;
		}
		.no-seances{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 225px;
			margin: 20vh auto 0;
			&__img{
				width: 50px;
				margin-bottom: 19px;
				img{
					width: 100%;
				}
			}
			&__title{
				font-weight: 590;
				font-size: 16px;
				line-height: 120%;
				text-align: center;
				color: $second-font-color;
			}
		}
	}
	.dates{
		position: relative;
		&__month{
			text-align: center;
			text-transform: capitalize;
			font-weight: 510;
			font-size: 16px;
			line-height: 130%;
			color: $second-font-color;
			margin-bottom: 17px;
		}
		&__wrapper{
			display: flex;
			overflow: auto;
			-webkit-appearance: none;
			padding-left: 12px;
			padding-bottom: 10px;
			clip-path: inset(0 0 10px 0);
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				-webkit-appearance: none;
				width: 0;
				height: 0;
				scroll-behavior: smooth;
			}  
		}
	}
	.date{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 64px;
		width: 35px;
		font-weight: 700;
		font-size: 14px;
		line-height: 24px;
		color: #292929;
		text-transform: capitalize;
		margin-right: 20px;
		background-color: $main-color;
		border-radius: 20px;
		flex-grow: 0;
		flex-shrink: 0;
		transition: all 0.3s;
		-webkit-transition: all 0.3s;
		span{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 27px;
			height: 27px;
			background-color: #fff;
			border-radius: 100%;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
		}
		&_active{
			background-color: $button-color;
			color: #fff;
			span{
				color: $button-color;
			}
		}
		&_blured{
			opacity: .8;
			color: #D6D7DB;
			span{
				color: #D6D7DB;
			}
		}
	}
	.seance{
		width: 100%;
		border-radius: 20px;
		background-color: #fff;
		padding: 12px;
		margin-bottom: 12px;
		&__title{
			font-weight: 700;
			font-size: 16px;
			line-height: 130%;
			color: $main-font-color;
			margin-bottom: 14px;
		}
		&__wrapper{
			display: flex;
			flex-wrap: wrap;
			list-style-type: none;
		}
		&__item{
			display: flex;
			justify-content: center;
			align-items: center;
			width: calc((100% / 3) - 16px);
			font-weight: 400;
			font-size: 14px;
			line-height: 105%;
			color: $main-font-color;
			padding: 9px 8px;
			border: 2px solid #D6D7DB;
			border-radius: 50px;
			margin-right: 16px;
			margin-bottom: 10px;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			&_active{
				border-color: $active-color;
				background-color: $active-color;
			}
		}
	}
	.slider-arrow, .slick-arrow{
		top: -2px;
		position: absolute;
		background-color: transparent;
		border: none;
		z-index: 2;
		transition: 0.3s opacity;
		-webkit-transition: opacity 0.3s;
		&::before{
			content: '';
			display: block;
			background: url('../public/images/left-arrow.svg') center center/contain no-repeat;
			width: 8px;
			height: 15px;
			opacity: 1;
		}
	}
	.slider-prev, .slick-prev{
		transform: translateY(22%);
		left: 35%;
	}
	.slider-next, .slick-next{
		right: 35%;
		transform: rotate(180deg);
	}
	.slick-disabled{
		opacity: .4;
	}
} 

.details-img-enter, .details-video-enter {
	opacity: 0;
}
.details-img-enter-active, .details-video-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}
.details-img-exit, .details-video-exit {
	opacity: 1;
}
.details-img-exit-active, .details-video-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}